/*FONTS*/
@font-face {
    font-family: 'OpenSans';
    src: url('assets/fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    background-color: #433447;
}

/**/
.thisBody{
    background: -webkit-linear-gradient(left, #d16b54, #433447);
}
#thisBody{
    background: #e8c95d;
}

#welcomPage{
    align: center center;
}

.logoInfo{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: ProximaNova,Helvetica,sans-serif;
    letter-spacing: 2px;
    color: #fff;
}

.thisImage{
  height:440px;
    width:862px;
    overflow:hidden;
}

.btn-outline-success {
    color: #fff;
    border-color: #fff;
}


#myFooter {
  background-color:#433447;
    color: white;
    margin-top:20px;
}

#myFooter .row {
    margin: 0px;
}

#myFooter .info{
    text-align: justify;
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

#myFooter .logo{
    margin-top: 5px;
}

#myFooter .second-bar .logo a{
    color:white;
    font-size: 24px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #433447;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 20px;
    color: #9fa3a9;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 160px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;

}



body{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  font-family:OpenSans;
  color: black;
}
